/* .EditForm {
  position: fixed;
  margin: 0;
  padding: 10px;
  background: rgb(250, 196, 196);
  border: 1px solid black;
  border-radius: 5px;
  z-index: 90;
}

.EditForm form {
  display: flex;
  flex-direction: column;
}

.EditForm input {
  margin-bottom: 1px;
}

.EditForm button {
  margin: 10px 140px;
  border: 1px solid black;
  border-radius: 5px;
}
.EditForm > button {
  margin-top: 40px;
}

.EditForm span {
  position: absolute;
  bottom: -14px;
  right: 0;
  font-size: 12px;
  color: red;
}

.EditForm button:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}

.section {
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}
 */

.EditForm {
  position: fixed;
  align-self: center;
  margin: auto;
  top: 60px;
  max-width: 500px;
  padding: 10px;
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 90;
}

.EditForm p {
  margin: 0;
  font-weight: bold;
}

.EditForm form {
  display: flex;
  flex-direction: column;
}

.EditForm input {
  margin-bottom: 1px;
}

.EditForm span {
  position: absolute;
  bottom: -14px;
  right: 0;
  font-size: 12px;
  font-weight: bold;
  color: red;
}

.section {
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.createButton {
  margin-top: 20px;
  background: rgba(0, 179, 15, 0.726);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  margin: auto;
  height: 30px;
  margin-top: 20px;
}

.createButton:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.cancelButton {
  margin-top: 20px;
  background: rgba(255, 0, 0, 0.747);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
}
