.Form {
  position: fixed;
  align-self: center;
  margin: auto;
  top: 60px;
  max-width: 500px;
  padding: 20px;
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 90;
}

.Form p {
  margin: 0;
  font-weight: bold;
}

.Form form {
  display: flex;
  flex-direction: column;
}

.Form input {
  margin-bottom: 1px;
}

.section {
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}
